<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Identity.Client" version="4.63.0" targetFramework="net472" />
  <package id="Microsoft.Identity.Client.Broker" version="4.63.0" targetFramework="net472" />
  <package id="Microsoft.Identity.Client.NativeInterop" version="0.16.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Abstractions" version="6.35.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
</packages>